// Project fonts
$main-font-family = "Plumb Condensed"
$main-font-base-path = "../fonts/"
$fonts-formats = woff2 woff

font-face(
    local_name: "Plumb Condensed",
	family: $main-font-family,
	file-name: "PlumbCondensedLight",
	base-path: $main-font-base-path,
	formats: $fonts-formats,
	weight: 300,
	style: normal
)

font-face(
    local_name: "Plumb Condensed",
	family: $main-font-family,
	file-name: "PlumbCondensedRegular",
	base-path: $main-font-base-path,
	formats: $fonts-formats,
	weight: 400,
	style: normal
)

font-face(
    local_name: "Plumb Condensed",
	family: $main-font-family,
	file-name: "PlumbCondensedBold",
	base-path: $main-font-base-path,
	formats: $fonts-formats,
	weight: 700,
	style: normal
)
