.intro
    background linear-gradient(90deg, rgba(59,92,161,1) 0%, rgba(14,39,90,1) 100%)
    background-size cover
    background-position center
    text-align center
    padding 13.5em 0 17em

    &__title
        font-size 2rem
        font-weight 700
        letter-spacing 0.6em
        text-indent: 0.6em
        margin-bottom 0.3em
        margin-top 1.5em

        +md-block()
            font-size 4rem
            margin-top 0
        
        +xl-block()
            font-size 6rem
            
    
    &__subtitle
        font-weight 300
        font-size 1.5rem
        letter-spacing 0.215em
        text-indent: 0.215em

        +md-block()
            font-size 3rem
        
        +xl-block()
            font-size 4rem
            letter-spacing 0.295em
            text-indent: 0.295em