header.header
    .container 
        .header__wrap
            .header__logo.logo
                img(src="./img/content/logo.svg", alt="Neurotrade")

            .sandwich
                .sandwich__line.sandwich__line--top
                .sandwich__line.sandwich__line--middle
                .sandwich__line.sandwich__line--bottom

            .menu-glavnoe-container
                ul#menu-glavnoe.menu
                    li#menu-item-72.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-72
                        a(href='#scrollto-summary') О нас
                    li#menu-item-73.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-73
                        a(href='#scrollto-quotes') Эксперты
                    li#menu-item-74.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-74
                        a(href='#scrollto-team') Команда
                    li#menu-item-75.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-75
                        a(href='#scrollto-vacancy') Вакансии
