section.section.section--team#scrollto-team
	.container
		.container-modal
			.team
				h1.team__title Команда
				.team-members
					.team-member
						.team-member__group
							.team-member__img-wrap
								img(src="./img/content/team-member1.png", alt="Олег Братишко").team-member__img
							.team-member__img-descr
								p.team-member__name Олег Братишко
								p.team-member__position Co-Founder
						p.team-member__text-short В 2013 вместе с партнерами создал фонд Typhoon. Фонд создал такие проекты как NtechLab и Brain4Net.
					.team-member
						.team-member__group
							.team-member__img-wrap
								img(src="./img/content/team-member2.png", alt="Олег Братишко").team-member__img
							.team-member__img-descr
								p.team-member__name АРТЁМ ВАСЕНИН
								p.team-member__position Co-Founder, CTO
						p.team-member__text Окончил Кембриджский университет, с 2017 по 2019 работал в NtechLab, разробатывая алгоритмы компьютерного зрения. За время работы занял призовые места в трёх международных соревнованиях.	

