section.section.section--vacancy(style="background-image: url('./img/content/layer-bg-vacancy.png')")#scrollto-vacancy
	.container
		.vacancy-content
			h1.vacancy-content__title Вакансия
			.vacancy-content__slider#vacancy-slider.owl-carousel
				.vacancy-content__slide
					h1.vacancy-content__slide-title Senior machine learning engineer 1
					.vacancy-content__slide-descr
						p.vacancy-content__slide-text Мы ищем опытных специалистов по машинному обучению которые будут готовы создавать новые системы анализа фондового рынка.
				.vacancy-content__slide
					h1.vacancy-content__slide-title Senior machine learning engineer 2
					.vacancy-content__slide-descr
						p.vacancy-content__slide-text Мы ищем опытных специалистов по машинному обучению которые будут готовы создавать новые системы анализа фондового рынка.		
			.vacancy-content__application
				.vacancy-content__application-display
					p.vacancy-content__application-text Для подачи заявки заполните форму
						img(src="./img/content/form-arrow.png", alt="form-arrow").vacancy-content__application-arrow
				.vacancy-content__form.form.form--show
					form(action="#")
						.form__group
							input(type="name" placeholder="Имя").vacancy-content__field.form__field
						.form__group
							input(type="surname" placeholder="Фамилия").vacancy-content__field.form__field
						.form__group
							input(type="email" placeholder="Email").vacancy-content__field.form__field
						.form__group
							input(type="phone" placeholder="Телефон").vacancy-content__field.form__field
						.form__group
							input(type="profile" placeholder="Профиль в Интернет").vacancy-content__field.form__field
						.form__group
							.form__file-btn
								input(type="file" id="file-input" name="file" multiple).form__field-file
								span.form__file-choose
									label(for="file-input").form__btn-label Выберите файл
									img(src="./img/content/file-delete.png", alt="Удалить").form__file-remove
									span.form__file-name#file-name
						.form__group
							input(type='submit', value='Отправить').form__btn
				

				



				