.container-modal
    background-color #fff
    color #6a707c
    border-radius .3em
    position relative
    margin-bottom 100px

    &:after
        content ''
        position absolute
        z-index 11
        width 0
        height 0
        bottom -2.45em
        left 50%
        -webkit-transform translateX(-50%)
        -ms-transform translateX(-50%)
        transform translateX(-50%)
        border-style solid
        border-width 2.55em 2.65em 0
        border-color #fff transparent transparent    

    +xl-block()
        margin 0 -4.5em
        margin-bottom 2.5em
    
    +xxl-block()
        margin 0 -5em
        margin-bottom 2.5em 