section.section.section--quotes#scrollto-quotes
    .container
        .quotes#quotes-slider.owl-carousel
            .quotes__slide.quotes-slide
                p.quotes-slide__title Искусственная нейронная сеть позволяет моделировать некую нелинейную функцию с входными и выходными данными 1.
                .quotes-slide__img-wrap
                    img(src="./img/content/qoutes-img-1.png", alt="Didier Queloz").quotes-slide__img 
                .quotes-slide__name Didier Queloz
                .quotes-slide__merit Профессор, Нобелевский лауреат по физике Alice LTD     
            .quotes__slide.quotes-slide
                p.quotes-slide__title Искусственная нейронная сеть позволяет моделировать некую нелинейную функцию с входными и выходными данными 2.
                .quotes-slide__img-wrap
                    img(src="./img/content/qoutes-img-1.png", alt="Didier Queloz").quotes-slide__img 
                .quotes-slide__name Didier Queloz
                .quotes-slide__merit Профессор, Нобелевский лауреат по физике Alice LTD