section.section.section--summary#scrollto-summary
    .container
        .container-modal
            .summary    
                p.summary__title Наша R&amp;D лаборатория разрабатывает алгоритм предиктивной аналитики работы фондовой биржи с&nbsp;использованием нейронных сетей.
                p.summary__descr #[a(href="#").summary__descr-link Ищем в&nbsp;команду людей ] готовых вместе с&nbsp;нами решать сложные, интересные задачи по&nbsp;машинному обучению.
                a.summary__btn(href="#").btn.btn--bg-blue ПРИСЛАТЬ РЕЗЮМЕ