footer.footer
	.container
		.footer-content
			p.footer-content__text Москва, Лесная, 43
			img(src="./img/content/footer-logo.png", alt="footer-logo").footer-content__img
			p.footer-content__text-copyright ©2020 by NeuroTrade